<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h3>get方式</h3>
<form action="" method="get">
    <p>用户名：<input type="text" placeholder="请输入用户名" name="user"></p>
    <p>密&emsp;码：<input type="password" placeholder="请输入用户名" name="password"></p>
    <p><input type="submit" value="登录"></p>
</form>
<p>get_user: {{ get_user }}</p>
<p>get_password: {{ get_password }}</p>

<h3>post方式</h3>
<form action="" method="post">
    {% csrf_token %}
    <p>用户名：<input type="text" placeholder="请输入用户名" name="user"></p>
    <p>密&emsp;码：<input type="password" placeholder="请输入用户名" name="password"></p>
    <p><input type="submit" value="登录"></p>
</form>
<p>post_user: {{ post_user }}</p>
<p>post_password: {{ post_password }}</p>

<h3>文件上传</h3>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file">
    <input type="submit" value="上传">
</form>

<h3>cookie，这是第{{ num }}次访问</h3>
</body>
</html>